/* src/assets/global.css */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;        /* ✅ autorise le scroll global si nécessaire */

}

#app {
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
}


